{% extends 'layout.html' %}

{% block body %}

<div class="container">
        <br />
        <br />
        <br />
    
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            This section contains Questions asked by users and answers from administration
        </div>
    
        <br />
    
        <div class="panel-group" id="accordion">
            <div class="faqHeader">Questions</div>

            {% for question in questions %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">{{question.subj}}</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>Question: {{ question.message }}</p>
                        <p>Answer:  {{ question.answer }}</p> 
                    </div>
                </div>
            </div>
            {% endfor %}
    
        </div>
    </div>
    
    <style>
        .faqHeader {
            font-size: 27px;
            margin: 20px;
        }
    
        .panel-heading [data-toggle="collapse"]:after {
            font-family: 'Glyphicons Halflings';
            content: "e072";
            float: right;
            color: #F58723;
            font-size: 18px;
            line-height: 22px;
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }
    
        .panel-heading [data-toggle="collapse"].collapsed:after {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            color: #454444;
        }
    </style>

{% endblock %}