{% extends 'layout.html' %}

{% block body %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">

           
            {% with messages = get_flashed_messages() %}
            {% if messages %}
    
                <div class="notification">
                    {{ messages[0] }}
                </div>
    
            {% endif %}
            {% endwith %}
    
            <form action="/login" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="field">
                <div class="control">
                    <input class="input is-large " type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" aria-describedby="passwordHelpBlock" type="password" name="password" placeholder="Your Password" autofocus="">
                </div>
            </div>

            <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
            </div>
           <!--<span id="passwordHelpBlock" class="help-block"><a href="{{ url_for('.forgot') }}">Forgot password?</a></span>-->
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
</div>


{% endblock %}