{% extends 'layout.html' %}

{% block body %}
<style>
h4{
    padding-top: 30px;
} 
</style>
<h3>Polityka prywatności systemu JPManage</h3>

<ol style="text-align:left;">
    <h4 style="text-align: left; color:midnightblue;"><li>Informacje ogólne</li></h4>
    <ol style="padding-left: 30px;">
        <li>Operatorem serwisu i jednocześnie administratorem danych jest twórca systemu JPManage z siedzibą w Białymstoku.</li>
        <li>System realizuje funkcje pozyskiwania informacji o użytkownikach i ich zachowaniach w następujący sposób:</li>
        <ol type="a" style="padding-left: 30px;">
            <li>Poprzez dobrowolnie wprowadzone w formularzach informacje;</li>
            <li> Zawartość strony internetowej można przeglądać bez podawania jakichkolwiek danych osobowych;</li>
            <li>Poprzez zapisywanie w urządzeniach końcowych plików cookie (tzw. "ciasteczka");</li>
            <li>Każda osoba, która udostępniła swoje dane osobowe ma prawo do wglądu do ich treści oraz możliwość ich poprawiania, uaktualniania, uzupełniania, jak i również żądania zaprzestania przetwarzania danych osobowych oraz wniesienia sprzeciwu wobec przetwarzania danych osobowych. Wymienione czynności można dokonać poprzez wysłanie stosownego oświadczenia na adres email: info@JPManage.com;</li>
            <li>W przypadku pytań dotyczących przetwarzania danych osobowych prosimy o kontakt z Administratorem Danych Osobowych lub z Inspektorem Ochrony Danych;</li>
        </ol>
        <li>W zakresie danych, będących danymi osobowymi w świetle przepisów o ochronie danych osobowych, administratorem danych jest Operator Systemu JPManage.</li>
    </ol>    
    <h4 style="text-align: left; color:midnightblue;"><li>Informacje w formularzach</li></h4>
    <ol style="padding-left: 30px;">
        <li>System zbiera informacje podane dobrowolnie przez użytkownika.</li>
        <li>Dane w formularzu nie są udostępniane podmiotom trzecim inaczej, niż za zgodą użytkownika.</li>
        <li>Dane podane w formularzu mogą stanowić zbiór danych osobowych, wówczas taki zbiór jest rejestrowany przez Operatora Systemu w rejestrze prowadzonym przez Generalnego Inspektora Ochrony Danych Osobowych.</li>
        <li>Jeśli dane w formularzu umożliwiają identyfikację osoby fizycznej, to osoba taka ma prawdo do wglądu, modyfikacji i żądania zaprzestania przetwarzania swoich danych w dowolnym momencie. Możliwe jednak, że będzie to powodowało brak dostępu do niektórych funkcji serwisu.</li>
        <li>Dane podane w formularzu są przetwarzane w celu wynikającym z funkcji konkretnego formularza, np. w celu dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego.</li>
    </ol>    
    <h4 style="text-align: left; color:midnightblue;"><li>Czy są pozyskiwane dane od dzieci?</li></h4>
    <ol style="padding-left: 30px;">
        <li>Usługi systemu JPManage nie są skierowane do dzieci poniżej 18 roku życia i świadomie nie są pozyskiwane informacje na ich temat. Jeśli zostanie stwierdzone, że osoba poniżej 18 roku życia dostarczyła swoje dane osobowe, natychmiast zostaną one usunięte.</li>
    </ol>
    <h4 style="text-align: left; color:midnightblue;"><li>Informacje o plikach cookies</li></h4>
    <ol style="padding-left: 30px;">
        <li>System korzysta z plików cookies.</li>
        <li>Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Pliki tego rodzaju zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.</li>
        <li>Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator Systemu lub podmioty z nim współpracujące.</li>
        <li>Pliki cookies wykorzystywane są w następujących celach:</li>
        <ol type="a" style="padding-left: 30px;">
            <li>Tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości;</li>
            <li>Utrzymanie sesji Użytkownika Serwisu (po zalogowaniu), dzięki której Użytkownik nie musi na każdej podstronie Serwisu ponownie wpisywać loginu i hasła.</li>
        </ol>
        <li>W ramach Systemu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (<i>session cookies</i>) oraz „stałe” (<i>persistent cookies</i>). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.</li>
        <li>Oprogramowanie do przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w tym zakresie. Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.</li>
        <li>Ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.</li>
    </ol>    
    <h4 style="text-align: left; color:midnightblue;"><li>Zarządzanie plikami cookies – jak w praktyce wyrażać i cofać zgodę?</li></h4>
    <ol style="padding-left: 30px;">
        <li>Jeśli użytkownik nie chce otrzymywać plików cookies, może zmienić ustawienia przeglądarki. Zastrzegamy, że wyłączenie obsługi plików cookies niezbędnych dla procesów uwierzytelniania, bezpieczeństwa i utrzymania preferencji użytkownika może utrudnić, a w skrajnych przypadkach może uniemożliwić korzystanie z części funkcjonalności systemu.</li>
        <li>W celu zarządzania ustawieniami cookies wybierz z listy poniżej przeglądarkę internetową/ system i postępuj zgodnie z instrukcjami:</li>
        <ol type="a" style="padding-left: 30px;">
            <li><a href="https://support.microsoft.com/en-in/help/278835/how-to-delete-cookie-files-in-internet-explorer">Internet Explorer</a></li>
            <li><a href="https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?redirectlocale=en-US&redirectslug=delete-cookies-remove-info-websites-stored">Mozilla Firefox</a></li>
            <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en">Google Chrome</a></li>
            <li><a href="https://support.apple.com/kb/ph21411?locale=en_US">Safari</a></li>
            <li><a href="https://help.opera.com/en/latest/">Opera</a></li>
        </ol>
    </ol>   
    <h4 style="text-align: left; color:midnightblue;"><li>Udostępnienie danych</li></h4>
    <ol style="padding-left: 30px;">
        <li>Dane podlegają udostępnieniu podmiotom zewnętrznym wyłącznie w granicach prawnie dozwolonych.</li>
        <li>Operator może mieć obowiązek udzielania informacji zebranych przez Serwis upoważnionym organom na podstawie zgodnych z prawem żądań w zakresie wynikającym z żądania.</li>
        
    </ol>
    <h4 style="text-align: left; color:midnightblue;"><li>Postanowienia końcowe</li></h4>
    <ol style="padding-left: 30px;">
        <li>Administrator ma prawo do zmian w niniejszej Polityce Prywatności. Osoby udostępniające swoje dane osobowe obowiązuje aktualnie obowiązująca wersja Polityki Prywatności, dostępna na stronie https://jpmanage.herokuapp.com/privacy_policy. </li>
        <li>W sprawach nieuregulowanych niniejszą Polityką Prywatności stosuje się obowiązujące przepisy prawa polskiego. </li>
        
    </ol>        
</ol>


       



{% endblock %}