{% extends 'admin/master.html' %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        
<style>
.center{
    display: block;
    padding-left: auto;
    padding-right: auto;
}

</style>
<form method="POST" action="../../change/{{ car.id }}/" enctype="multipart/form-data">
    <div class="container center">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">  
                    <label for="make">Make</label>  <br>
                    <input type="text" class="form_control" id="make" name="make" value="{{car.make}}">  
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">    
                    <label for="model">Model</label>  <br>
                    <input type="text" class="form_control" id="model" name="model" value="{{car.model}}">  

                         
                        
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="engine_power">Engine power</label>   
                    <br>   
                    <input type="number" id="engine_power" name="engine_power" value="{{car.engine_power}}" min="0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group"> 
                    <label for="body">Body type</label>    
                    <br>
                    <input type="text" class="form_control" id="body" name="body" value="{{car.body_type}}">  
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">    
                    <label for="fuel">Fuel type</label>  <br>
                    <input type="text" class="form_control" id="fuel" name="fuel" value="{{car.fuel_type}}"> 
    

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"> 
                        <label for="engine_capacity">Engine capacity</label>   
                        <br>      
                    <input type="number" id="engine_capacity" name="engine_capacity" value="{{car.engine_capacity}}" min="0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">  
                    <label for="gearbox">Gearbox</label>     
                    <br>
                    <input type="text" class="form_control" id="gearbox" name="gearbox" value="{{car.gearbox}}"> 
    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"> 
                    <label for="num_doors">Number of doors</label>    
                    <br>
                    <input type="text" class="form_control" id="num_doors" name="num_doors" value="{{car.number_of_doors}}"> 
    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">    
                    <label for="mileage">Mileage</label>
                    <br> 
                    <input type="number" id="mileage" name="mileage" min="0" value="{{ car.mileage }}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">    
                    <label for="steering">Steering wheel side</label> 
                    <br>
                    <input type="text" class="form_control" id="steering" name="steering" value="{{car.steering_wheel_side}}"> 
    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"> 
                    <label for="color">Color</label>    
                    <br>
                    <input type="text" class="form_control" id="color" name="color" value="{{car.color}}"> 
    
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group"> 
                    <label for="manufacture">Date of manufacture</label>    
                    <br>
                    <input type="month" id="manufacture" name="manufacture" min="2000-01" max="2030-12" value="{{car.pyear}}-{{car.prod_month}}">
                    <input type="hidden" id="hiddeny" name="hiddeny" value="{{car.pyear}}">
                    <input type="hidden" id="hiddenm" name="hiddenm" value="{{car.prod_month}}">
                </div>
            </div>
        </div>
        

       <div class="paddingtop row">
           
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">Desription:</label>
                    <textarea class="form-control" rows = "5" cols = "70" name = "description" id="description" >
                        {{ car.description }}
                    </textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="center paddingtop20">
                <div class="form-group">
                        <label for="price">Price</label>
                        <br> 
                        <input type="number" id="price" name="price" min="0" value="{{ car.price }}">
                </div>
            </div>
            <div class="col-md-4 paddingtop">
                <div class="form-group">
                  <button type="submit">Submit</button>
                </div>
            </div>
        </div>
        

    </div>
</form>

{% if modelpicked %}
{{ modelpicked }}
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
    document.getElementById('manufacture').valueAsDate = new Date(document.getElementById('hiddeny').value,document.getElementById('hiddenm').value);

    let make_select = document.getElementById('make');
    let model_select = document.getElementById('model');

    make_select.onchange = function(){
        make = make_select.value;

        fetch('/process/' + make_select.value).then(function(response){
            response.json().then(function(data){
                let optionHTML = '';
                for (let model of data.models){
                    optionHTML += '<option value="' + model.model + '">' + model.model + '</option>';
                }

                model_select.innerHTML = optionHTML;
            });
        });
    }

    function getSelectedText(elementId) {
    var elt = document.getElementById(elementId);

    if (elt.selectedIndex == -1)
        return null;

    return elt.options[elt.selectedIndex].text;
}


let button = document.getElementById('getprice');
button.onclick = function price(){
var make_selected = getSelectedText('make');
var model_selected = getSelectedText('model');
var body_selected = getSelectedText('body');
var fuel_selected = getSelectedText('fuel');
var gearbox_selected = getSelectedText('gearbox');
var num_doors_selected = getSelectedText('num_doors');
var steering_selected = getSelectedText('steering');
var color_selected = getSelectedText('color');
var eng_pow = document.getElementById('engine_power').value;
var eng_cap = document.getElementById('engine_capacity').value;
var mileage = document.getElementById('mileage').value;
var manufacture = document.getElementById('manufacture').value;

var data = {make: make_selected, model: model_selected, body: body_selected, fuel: fuel_selected, gearbox: gearbox_selected, num_doors: num_doors_selected, steering: steering_selected, color: color_selected, engp: eng_pow, engc: eng_cap, mileage: mileage, manufacture: manufacture};
fetch('/price', {
  method: 'POST', 
  body: JSON.stringify({data}), 
  headers:{
    'Content-Type': 'application/json'
  }
}).then(res => res.json())
.then(response =>  document.getElementById('price').value=response)
.catch(error => console.error('Error:', error));
}
</script>
{% endblock %}