{% extends 'admin/master.html' %}

{% block body %}
<style>

  .field{
    padding-top: 50px;
  }

  .info{
    margin-bottom: 20px;
    text-align: center;
    color: #000;
    font-size: 30px;
  }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 303px;
    height: 50%;
  }

  .center{
    margin: auto;
    padding: 10px;
    text-align: center;
  }
.row{
  text-align: center;
  padding-left: auto;
  padding-right: auto;
}
.inp{
  margin: 0 auto;
}
  .desc{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
  }

  .img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .results h1{
    font-size: 20px;
    color: black;
    padding: 20px;
  }
  .results{
    font-size: 20px;
    color: green;
    }


</style>


<div class="info">
    <h1>Example of dataset to upload</h1>
</div>
<code>
    {"make": "Toyota", "model": "Land Cruiser", "production year": 2012, "body style": "Full-Size SUV", "number of doors": 5, "steering wheel side": "Lefthanded", "gearbox": "Automatic", "fuel type": "Gasoline", "engine power": "309", "engine capacity": "4.6", "mileage": 99837, "colour": "White", "price": "41000"},
    {"make": "Honda", "model": "Jazz", "production year": 2018, "body style": "Hatchback", "number of doors": 5, "steering wheel side": "Lefthanded", "gearbox": "Automatic", "fuel type": "Gasoline", "engine power": "99", "engine capacity": "1.3", "mileage": 7532, "colour": "Black", "price": "17500"},
    {"make": "Toyota", "model": "Camry", "production year": 2016, "body style": "Sedan", "number of doors": 5, "steering wheel side": "Lefthanded", "gearbox": "Automatic", "fuel type": "Gasoline", "engine power": "272", "engine capacity": "3.5", "mileage": 10731, "colour": "Blue", "price": "25000"},
</code>

<div class="desc">
<p>
    Here you can upload new dataset and retrain the regressor. An example of dataset to upload is shown above.
</p>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    
<form method="POST" name="model"  action="/admin/regressor1/" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
<div class="field">
  <div class="file is-centered  is-large is-boxed is-success has-name">
    <label class="file-label">
      <input id="file-upload" class="file-input" type="file" name="file">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span id="" class="file-label">
          Select dataset
        </span>
      </span>
      <span id="file-upload-filename" class="file-name">
        <div id="file-upload-filename"></div>
      </span>
      
    </label>
    
  </div>
</div>

<div class="center">
  <input class="button" type="submit" value="Retrain model"/>
</div>    
</form>


  

  {% for item in regr %}
        <li><p>{{ item }}</p></li>
  {% endfor %}
  

<div class="center results">
  {% if mae %}
  <h1>Mean absolute error after retraining model equals</h1>
   {{ mae }}
   {% endif %}

  {% if mae_old %}
  <h1 >Mean absolute error before retraining model was</h1>
   {{ mae_old }}
  {% endif %}
<br>

</div>
<script>
    var input = document.getElementById( 'file-upload' );
    var infoArea = document.getElementById( 'file-upload-filename' );

    input.addEventListener( 'change', showFileName );

    function showFileName( event ) {
      var input = event.srcElement;
      var fileName = input.files[0].name;
      infoArea.textContent = 'File name: ' + fileName;
    }
</script>
{% endblock %}

